<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	<add key ="Service" value="RESPMOD"/>
	<add key ="ICAPVersion" value="ICAP/1.0"/>
	<add key ="BufferReceiveLength" value="8024"/>
	<add key ="SendPartition" value="4"/>
	<add key = "SendTimeoutInMiliseconds" value="-1"/>
	<add key ="ReceiveTimeoutInMiliseconds" value="-1"/>
	<add key ="SocketKeepAlive" value="false"/>

	<add key ="FileNameLength" value="255"/>
	<add key ="MaximumFileSizeInBytes" value="10485760"/>
	<add key ="AllowedFileTypeExtension" value="pdf, tif, rtf"/>
	<add key ="ExcludedStringInFileNameNotIncludingExtension" value="\, /, ."/>

  </appSettings>
  
</configuration>